In [92]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os,sys
import logging
import dvc.api

sys.path.append(os.path.abspath(os.path.join('..')))
from scripts.data_manipulation import DataManipulator
from sklearn import preprocessing
logging.basicConfig(filename='info.log', level=logging.INFO)

In [93]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# sys.path.append(os.path.abspath(os.path.join('..')))
# from scripts.eda import EDA
# from scripts.plot import Plot

In [94]:
path = 'data/train_fin.csv'
repo = 'https://github.com/RYees/Pharmaceutical_Sales_prediction/'
version = '3391a5959cf1b8946ca6b5bb37074332d6949a70'

data_url = dvc.api.get_url(
path = path,
repo = repo,
rev = version)

In [95]:
test_df = pd.read_csv("../data/com_test.csv")
# train_df = train_df.drop(['index'],axis=1)
test_df.head(2)

,Date,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,Month,Year,DayOfYear,WeekOfYear
0,2015-08-01,1,6,1.0,0,0,1,c,a,1270.0,...,2008.0,0,0.0,0.0,0,1,8,2015,213,31
1,2015-08-02,1,7,0.0,0,0,1,c,a,1270.0,...,2008.0,0,0.0,0.0,0,2,8,2015,214,31

In [96]:
train_df = pd.read_csv("../data/com_train.csv")
# train_df = train_df.drop(['index'],axis=1)
train_df.head(5)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,Month,Year,DayOfYear,WeekOfYear
0,2013-01-01,1,2,0,0,0,0,a,1,c,...,2008.0,0,0.0,0.0,0,1,1,2013,1,1
1,2013-01-02,1,3,5530,668,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,2,1,2013,2,1
2,2013-01-03,1,4,4327,578,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,3,1,2013,3,1
3,2013-01-04,1,5,4486,619,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,4,1,2013,4,1
4,2013-01-05,1,6,4997,635,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,5,1,2013,5,1

In [97]:
train_df = train_df.reset_index()
train_df = train_df.drop(['index'],axis=1)
train_df.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,Month,Year,DayOfYear,WeekOfYear
0,2013-01-01,1,2,0,0,0,0,a,1,c,...,2008.0,0,0.0,0.0,0,1,1,2013,1,1
1,2013-01-02,1,3,5530,668,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,2,1,2013,2,1
2,2013-01-03,1,4,4327,578,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,3,1,2013,3,1
3,2013-01-04,1,5,4486,619,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,4,1,2013,4,1
4,2013-01-05,1,6,4997,635,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,5,1,2013,5,1

In [ ]:
train_df.info()

In [ ]:
# test_store = pd.read_csv('../data/test.csv')
# test_store

In [ ]:
train_store = pd.read_csv('../data/train.csv')
train_store

In [98]:
manipulate = DataManipulator(test_df)

In [99]:
manipulator = DataManipulator(train_df)

In [100]:
manipulator.add_week_day('DayOfWeek')
manipulate.add_week_day('DayOfWeek')

Data Manipulatior:INFO->Successfully Added WeekDay Column to the DataFrame
Data Manipulatior:INFO->Successfully Added WeekDay Column to the DataFrame

In [101]:
manipulator.add_number_of_days_to_holiday('StateHoliday')
manipulate.add_number_of_days_to_holiday('StateHoliday')

Data Manipulatior:INFO->Successfully Added DaysToHoliday Column
Data Manipulatior:INFO->Successfully Added DaysToHoliday Column

In [102]:
manipulator.add_number_of_days_after_holiday('StateHoliday')
manipulate.add_number_of_days_after_holiday('StateHoliday')

Data Manipulatior:INFO->Successfully Added DaysAfterHoliday Column
Data Manipulatior:INFO->Successfully Added DaysAfterHoliday Column

In [103]:
manipulator.add_month_timing('Day')
manipulate.add_month_timing('Day')

Data Manipulatior:INFO->Successfully Added MonthTiming Column
Data Manipulatior:INFO->Successfully Added MonthTiming Column

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [104]:
feats = ['Promo2SinceYear','Promo2SinceWeek','CompetitionDistance', 'PromoInterval']
modes = train_df[feats].mode()

for f in feats:
        train_df[f] = train_df[f].fillna(modes[f][0])
        test_df[f] = test_df[f].fillna(modes[f][0])
for dataset in (train_df,test_df):
    dataset['Open'] = dataset['Open'].fillna(0)

In [105]:
train_df.drop(['Store','Date','Customers','StoreType','Assortment'],axis=1,inplace=True)
test_df.drop(['Store','Date','StoreType','Assortment'],axis=1,inplace=True)

In [ ]:
# train_df.drop(['StoreType','Assortment'],axis=1,inplace=True)
# # test_df.drop(['StoreType','Assortment'],axis=1,inplace=True)
# train_df['StoreType']

In [ ]:
train_df.head(2)

In [107]:
# train_df = train_df[train_df['Sales'] < 25000]  #Drops samples which have sales more than 25000
# train_df.reset_index(drop=True).head()

In [108]:
## Label Encoder
attributes = ['StateHoliday','PromoInterval']
for dataset in (train_df,test_df):
    for f in attributes:
        dataset[attributes] = dataset[attributes].apply(lambda x: pd.factorize(x)[0])

In [109]:
train_df.drop(['PromoInterval'],axis=1,inplace=True)
test_df.drop(['PromoInterval'],axis=1,inplace=True)

In [110]:
# Only Use non-zero Sales Samples For Training
train_df = train_df[train_df['Open'] == 1]
train_df = train_df[train_df['Sales'] > 0.0]

In [111]:
# The Correlation with The Target 
corr_matrix = train_df.corr()
corr_matrix["Sales"].sort_values(ascending=False)
# corr_matrix["Sales"]

Sales                        1.000000
Promo                        0.373668
WeekDay                      0.156012
WeekOfYear                   0.072979
Month                        0.072107
DayOfYear                    0.067107
SchoolHoliday                0.039551
Year                         0.037963
DaysAfterHoliday             0.034159
CompetitionOpenSinceYear     0.004764
StateHoliday                -0.002593
CompetitionOpenSinceMonth   -0.017265
CompetitionDistance         -0.033179
DaysToHoliday               -0.037560
Day                         -0.053184
Promo2SinceWeek             -0.056714
MonthTiming                 -0.070680
Promo2                      -0.125841
Promo2SinceYear             -0.125866
DayOfWeek                   -0.181750
Open                              NaN
Name: Sales, dtype: float64

In [ ]:
train_df.head(2)

In [ ]:
train_df.info()

In [ ]:
test_df.info()

In [112]:
##assume 0 and '0' are the same in train.StateHoliday 
def mychange(x):
     if type(x)!= str: x=str(x)
     return x
        
train_df.StateHoliday = [mychange(x) for x in train_df.StateHoliday]

train_df = train_df.drop('StateHoliday',1).join(pd.get_dummies(train_df['StateHoliday']).rename(columns=lambda x: 'StateHoliday' +"_"+str(x)))

In [113]:
test_df = test_df.drop('StateHoliday',1).join(pd.get_dummies(test_df['StateHoliday']).rename(columns=lambda x: 'StateHoliday' +"_"+str(x)))

In [114]:
toAppend = pd.DataFrame(np.log(train_df.Sales+1),dtype=float)
toAppend.columns.values[0]='LogSale'
train_df=train_df.join(toAppend)
train_df.dtypes

DayOfWeek                      int64
WeekDay                        int64
Sales                          int64
Open                           int64
Promo                          int64
DaysAfterHoliday               int64
DaysToHoliday                  int64
SchoolHoliday                  int64
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
Day                            int64
MonthTiming                    int64
Month                          int64
Year                           int64
DayOfYear                      int64
WeekOfYear                     int64
StateHoliday_0                 uint8
StateHoliday_1                 uint8
StateHoliday_2                 uint8
StateHoliday_3                 uint8
LogSale                      float64
dtype: object

In [115]:
train_df.drop(['Sales'],axis=1,inplace=True)

In [116]:
## check if there exists any constant variable
np.sum(train_df.var()==0)

1

In [117]:
# To Preproccesing our data
from sklearn.preprocessing import LabelEncoder
# from sklearn import preprocessing
# from sklearn import utils

# To fill missing values
from sklearn.impute import SimpleImputer

# To Split our train data
from sklearn.model_selection import train_test_split

# To Train our data
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB, GaussianNB

# To evaluate end result we have
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score

# To setup mlflow
import mlflow
import mlflow.sklearn

In [ ]:
##### randomforest
from sklearn.ensemble._forest import RandomForestRegressor

##### delete variables that do not exist in the test set
toDrop = list(set(train_df.columns.values)-set(test_df.columns.values) )
features = train_df.columns.drop(toDrop,1)

rf = RandomForestRegressor(n_estimators=100)
rf.fit(train_df.drop(toDrop ,1).fillna(-1),train_df.LogSale)


importances = rf.feature_importances_ 
# return the indices that would sort the importance, decreasing
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")


Features = train_df.columns.drop('LogSale')
for f in range(35):
    print("%d. feature %d :%s (%f)" % (f + 1, indices[f],Features[indices[f]], importances[indices[f]]))

# Plot the feature importances of the forest
# the most important feature 'open' is left out in the plot to make it easier to see the other features
plt.figure()
plt.title("Feature importances")
plt.bar(range(1,10), importances[indices[range(1,10)]]) 
plt.xlim([-1, 10])
plt.show()

# make prediction on test data
# mypred = rf.predict(test_df.drop('Id',1).fillna(-1))

In [ ]:
# Using StandardScaler to standardize the all columns
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler, LabelEncoder
scale_train_list = train_df.columns.to_list()
scale_test_list = test_df.columns.to_list()
def standardize_columns(df, column) -> pd.DataFrame:
    try:        
        std_column_df = pd.DataFrame(df[column])
        std_column_values = std_column_df.values
        standardizer = StandardScaler()
        normalized_data = standardizer.fit_transform(std_column_values)
        df[column] = normalized_data
        logging.info('Successfull data scaling')
        return df
    except:
        logging.info('error in scaling data')

In [ ]:
standardize_columns(train_df, scale_train_list)

In [ ]:
def optimize_df(dataframe: pd.DataFrame) -> pd.DataFrame:
    """
       A simple function which optimizes the data types of the dataframe and returns it
        Parameters
        ----------
        dataframe:
            Type: pd.DataFrame
        Returns
        -------
        pd.DataFrame
    """
    data_types = dataframe.dtypes
    optimizable = ['float64', 'int64']
    for col in data_types.index:
        if(data_types[col] in optimizable):
            if(data_types[col] == 'float64'):
                # downcasting a float column
                dataframe[col] = pd.to_numeric(
                    dataframe[col], downcast='float')
            elif(data_types[col] == 'int64'):
                # downcasting an integer column
                dataframe[col] = pd.to_numeric(
                    dataframe[col], downcast='unsigned')

    return dataframe
# train_df = optimize_df(train_df)
# train_df

In [ ]:
standardize_columns(test_df, scale_test_list)

In [ ]:
# def get_min_max_of_dataframe_columns(df):
#     top = df.max()
#     top_df = pd.DataFrame(top, columns=['Max Value'])
#     bottom = df.min()
#     bottom_df = pd.DataFrame(bottom, columns=['Min Value'])
#     info_df = pd.concat([top_df, bottom_df], axis=1)
#     return info_df
# train_df = get_min_max_of_dataframe_columns(train_df)

In [ ]:
# train_df = optimize_df(train_df)
# train_df

In [ ]:
# train_df

In [ ]:
y_values = train_df['Sales']
x_values = train_df.drop(['Sales'], axis=1)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)
# X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, random_state=42)
# Splitting Data (60,20,20)
x_train, x_test, y_train, y_test = train_test_split(x_values, y_values, test_size=0.2, random_state=42)
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [ ]:
mlflow.autolog(log_input_examples=True, log_model_signatures=True, log_models=True, silent=True)
# Create a based model
rf = RandomForestRegressor()
with mlflow.start_run() as run:
    rf.fit(x_train, y_train)

    train_score = rf.score(x_train, y_train)
    valid_score = rf.score(x_valid,y_valid)
    valid_metrics = calculate_metrics(y_valid,rf.predict(x_valid),"Validation ")
    test_score = rf.score(x_test,y_test)
    test_metrics = calculate_metrics(y_test, rf.predict(x_test), "Test ")

    mlflow.log_metric("Valid Score", valid_score)
    mlflow.log_metrics(valid_metrics)
    mlflow.log_metric("Test Score", test_score)
    mlflow.log_metrics(test_metrics)
    save_model(rf, test_metrics['Test RMSE Score'])

In [ ]:
train_score

In [ ]:
## Features Importance
from matplotlib import pyplot
# get importance
importance = rf.coef_[0]
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

In [ ]:
## Confusion Matrices
cm_log = confusion_matrix(y_test, pred_log)
print("Logistic Regression:\n", cm_log)

# Desicion Tree
cm_dt = confusion_matrix(y_test, pred_dt)
print("Desicion Tree:\n", cm_dt)

# XGBoost 
cm_xgb = confusion_matrix(y_test, pred_xgb)
print("XGBoost:\n", cm_xgb)

# Random Forest 
cm_rf = confusion_matrix(y_test, pred_rf)
print("Random Forest:\n", cm_rf)