In [248]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os,sys
import logging
import dvc.api

sys.path.append(os.path.abspath(os.path.join('..')))
from scripts.data_manipulation import DataManipulator
from sklearn import preprocessing
logging.basicConfig(filename='info.log', level=logging.INFO)

In [196]:
import warnings
warnings.filterwarnings('ignore')

In [197]:
# sys.path.append(os.path.abspath(os.path.join('..')))
# from scripts.eda import EDA
# from scripts.plot import Plot

In [198]:
path = 'data/train_fin.csv'
repo = 'https://github.com/RYees/Pharmaceutical_Sales_prediction/'
version = '3391a5959cf1b8946ca6b5bb37074332d6949a70'

data_url = dvc.api.get_url(
path = path,
repo = repo,
rev = version)

In [199]:
test_df = pd.read_csv("../data/com_test.csv")
# train_df = train_df.drop(['index'],axis=1)
test_df.head(2)

,Date,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,Month,Year,DayOfYear,WeekOfYear
0,2015-08-01,1,6,1.0,0,0,1,c,a,1270.0,...,2008.0,0,0.0,0.0,0,1,8,2015,213,31
1,2015-08-02,1,7,0.0,0,0,1,c,a,1270.0,...,2008.0,0,0.0,0.0,0,2,8,2015,214,31

In [200]:
train_df = pd.read_csv("../data/com_train.csv")
# train_df = train_df.drop(['index'],axis=1)
train_df.head(5)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,Month,Year,DayOfYear,WeekOfYear
0,2013-01-01,1,2,0,0,0,0,a,1,c,...,2008.0,0,0.0,0.0,0,1,1,2013,1,1
1,2013-01-02,1,3,5530,668,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,2,1,2013,2,1
2,2013-01-03,1,4,4327,578,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,3,1,2013,3,1
3,2013-01-04,1,5,4486,619,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,4,1,2013,4,1
4,2013-01-05,1,6,4997,635,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,5,1,2013,5,1

In [201]:
train_df = train_df.reset_index()
train_df = train_df.drop(['index'],axis=1)
train_df.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,Month,Year,DayOfYear,WeekOfYear
0,2013-01-01,1,2,0,0,0,0,a,1,c,...,2008.0,0,0.0,0.0,0,1,1,2013,1,1
1,2013-01-02,1,3,5530,668,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,2,1,2013,2,1
2,2013-01-03,1,4,4327,578,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,3,1,2013,3,1
3,2013-01-04,1,5,4486,619,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,4,1,2013,4,1
4,2013-01-05,1,6,4997,635,1,0,0,1,c,...,2008.0,0,0.0,0.0,0,5,1,2013,5,1

In [202]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 23 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Date                       1017209 non-null  object
 1   Store                      1017209 non-null  int64
 2   DayOfWeek                  1017209 non-null  int64
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1017209 non-null  float64
 12  CompetitionOpenSinceMonth  1017209 non-null  float64
 13  CompetitionOpenSinceYear   1017209 non-null  float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            1017209 non-null  float64
 16  Promo2SinceYear            1017209 non-null  float64
 17  PromoInterval              1017209 non-null  object
 18  Day                        1017209 non-null  int64
 19  Month                      1017209 non-null  int64
 20  Year                       1017209 non-null  int64
 21  DayOfYear                  1017209 non-null  int64
 22  WeekOfYear                 1017209 non-null  int64
dtypes: float64(5), int64(13), object(5)
memory usage: 178.5+ MB

In [203]:
# test_store = pd.read_csv('../data/test.csv')
# test_store

In [204]:
# train_store = pd.read_csv('../data/train.csv')
# train_store

In [205]:
manipulate = DataManipulator(test_df)

In [206]:
manipulator = DataManipulator(train_df)

In [207]:
manipulator.add_week_day('DayOfWeek')
manipulate.add_week_day('DayOfWeek')

Data Manipulatior:INFO->Successfully Added WeekDay Column to the DataFrame
Data Manipulatior:INFO->Successfully Added WeekDay Column to the DataFrame

In [208]:
manipulator.add_number_of_days_to_holiday('StateHoliday')
manipulate.add_number_of_days_to_holiday('StateHoliday')

Data Manipulatior:INFO->Successfully Added DaysToHoliday Column
Data Manipulatior:INFO->Successfully Added DaysToHoliday Column

In [209]:
manipulator.add_number_of_days_after_holiday('StateHoliday')
manipulate.add_number_of_days_after_holiday('StateHoliday')

Data Manipulatior:INFO->Successfully Added DaysAfterHoliday Column
Data Manipulatior:INFO->Successfully Added DaysAfterHoliday Column

In [210]:
manipulator.add_month_timing('Day')
manipulate.add_month_timing('Day')

Data Manipulatior:INFO->Successfully Added MonthTiming Column
Data Manipulatior:INFO->Successfully Added MonthTiming Column

In [211]:
train_df.head()

,Date,Store,DayOfWeek,WeekDay,Sales,Customers,Open,Promo,StateHoliday,DaysAfterHoliday,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
0,2013-01-01,1,2,1,0,0,0,0,a,0,...,0,0.0,0.0,0,1,1,1,2013,1,1
1,2013-01-02,1,3,1,5530,668,1,0,0,0,...,0,0.0,0.0,0,2,1,1,2013,2,1
2,2013-01-03,1,4,1,4327,578,1,0,0,1,...,0,0.0,0.0,0,3,1,1,2013,3,1
3,2013-01-04,1,5,1,4486,619,1,0,0,2,...,0,0.0,0.0,0,4,1,1,2013,4,1
4,2013-01-05,1,6,0,4997,635,1,0,0,3,...,0,0.0,0.0,0,5,1,1,2013,5,1

In [212]:
test_df.head()

,Date,Store,DayOfWeek,WeekDay,Open,Promo,StateHoliday,DaysAfterHoliday,DaysToHoliday,SchoolHoliday,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
0,2015-08-01,1,6,0,1.0,0,0,0,397,1,...,0,0.0,0.0,0,1,1,8,2015,213,31
1,2015-08-02,1,7,0,0.0,0,0,0,396,1,...,0,0.0,0.0,0,2,1,8,2015,214,31
2,2015-08-03,1,1,1,1.0,1,0,0,395,1,...,0,0.0,0.0,0,3,1,8,2015,215,32
3,2015-08-04,1,2,1,1.0,1,0,0,394,1,...,0,0.0,0.0,0,4,1,8,2015,216,32
4,2015-08-05,1,3,1,1.0,1,0,0,393,1,...,0,0.0,0.0,0,5,1,8,2015,217,32

In [213]:
feats = ['Promo2SinceYear','Promo2SinceWeek','CompetitionDistance', 'PromoInterval']
modes = train_df[feats].mode()

for f in feats:
        train_df[f] = train_df[f].fillna(modes[f][0])
        test_df[f] = test_df[f].fillna(modes[f][0])
for dataset in (train_df,test_df):
    dataset['Open'] = dataset['Open'].fillna(0)

In [214]:
train_df.drop(['Store','Date','Customers'],axis=1,inplace=True)
test_df.drop(['Store','Date'],axis=1,inplace=True)

In [217]:
train_df.head(2)

,DayOfWeek,WeekDay,Sales,Open,Promo,StateHoliday,DaysAfterHoliday,DaysToHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
0,2,1,0,0,0,1,0,0,1,2,...,0,0.0,0.0,0,1,1,1,2013,1,1
1,3,1,5530,1,0,0,0,64,1,2,...,0,0.0,0.0,0,2,1,1,2013,2,1

In [218]:
train_df = train_df[train_df['Sales'] < 25000]  #Drops samples which have sales more than 25000
train_df.reset_index(drop=True).head()

,DayOfWeek,WeekDay,Sales,Open,Promo,StateHoliday,DaysAfterHoliday,DaysToHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
0,2,1,0,0,0,1,0,0,1,2,...,0,0.0,0.0,0,1,1,1,2013,1,1
1,3,1,5530,1,0,0,0,64,1,2,...,0,0.0,0.0,0,2,1,1,2013,2,1
2,4,1,4327,1,0,0,1,63,1,2,...,0,0.0,0.0,0,3,1,1,2013,3,1
3,5,1,4486,1,0,0,2,62,1,2,...,0,0.0,0.0,0,4,1,1,2013,4,1
4,6,0,4997,1,0,0,3,61,1,2,...,0,0.0,0.0,0,5,1,1,2013,5,1

In [219]:
## Label Encoder
attributes = ['StoreType','Assortment','StateHoliday','PromoInterval']
for dataset in (train_df,test_df):
    for f in attributes:
        dataset[attributes] = dataset[attributes].apply(lambda x: pd.factorize(x)[0])

In [221]:
# Only Use non-zero Sales Samples For Training
train_df = train_df[train_df['Open'] == 1]
train_df = train_df[train_df['Sales'] > 0.0]

In [222]:
# The Correlation with The Target 
corr_matrix = train_df.corr()
corr_matrix["Sales"].sort_values(ascending=False)
# corr_matrix["Sales"]

Sales                        1.000000
Promo                        0.373668
WeekDay                      0.156012
Assortment                   0.122939
WeekOfYear                   0.072979
Month                        0.072107
DayOfYear                    0.067107
SchoolHoliday                0.039551
Year                         0.037963
StoreType                    0.036662
DaysAfterHoliday             0.034159
CompetitionOpenSinceYear     0.004764
StateHoliday                -0.002593
CompetitionOpenSinceMonth   -0.017265
CompetitionDistance         -0.033179
DaysToHoliday               -0.037560
Day                         -0.053184
Promo2SinceWeek             -0.056714
MonthTiming                 -0.070680
Promo2                      -0.125841
Promo2SinceYear             -0.125866
PromoInterval               -0.130416
DayOfWeek                   -0.181750
Open                              NaN
Name: Sales, dtype: float64

In [223]:
train_df.head(2)

,DayOfWeek,WeekDay,Sales,Open,Promo,StateHoliday,DaysAfterHoliday,DaysToHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
1,3,1,5530,1,0,1,0,64,1,0,...,0,0.0,0.0,0,2,1,1,2013,2,1
2,4,1,4327,1,0,1,1,63,1,0,...,0,0.0,0.0,0,3,1,1,2013,3,1

In [224]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 843579 entries, 1 to 1017208
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DayOfWeek                  843579 non-null  int64
 1   WeekDay                    843579 non-null  int64
 2   Sales                      843579 non-null  int64
 3   Open                       843579 non-null  int64
 4   Promo                      843579 non-null  int64
 5   StateHoliday               843579 non-null  int64
 6   DaysAfterHoliday           843579 non-null  int64
 7   DaysToHoliday              843579 non-null  int64
 8   SchoolHoliday              843579 non-null  int64
 9   StoreType                  843579 non-null  int64
 10  Assortment                 843579 non-null  int64
 11  CompetitionDistance        843579 non-null  float64
 12  CompetitionOpenSinceMonth  843579 non-null  float64
 13  CompetitionOpenSinceYear   843579 non-null  float64
 14  Promo2                     843579 non-null  int64
 15  Promo2SinceWeek            843579 non-null  float64
 16  Promo2SinceYear            843579 non-null  float64
 17  PromoInterval              843579 non-null  int64
 18  Day                        843579 non-null  int64
 19  MonthTiming                843579 non-null  int64
 20  Month                      843579 non-null  int64
 21  Year                       843579 non-null  int64
 22  DayOfYear                  843579 non-null  int64
 23  WeekOfYear                 843579 non-null  int64
dtypes: float64(5), int64(19)
memory usage: 160.9 MB

In [225]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DayOfWeek                  41088 non-null  int64
 1   WeekDay                    41088 non-null  int64
 2   Open                       41088 non-null  float64
 3   Promo                      41088 non-null  int64
 4   StateHoliday               41088 non-null  int64
 5   DaysAfterHoliday           41088 non-null  int64
 6   DaysToHoliday              41088 non-null  int64
 7   SchoolHoliday              41088 non-null  int64
 8   StoreType                  41088 non-null  int64
 9   Assortment                 41088 non-null  int64
 10  CompetitionDistance        41088 non-null  float64
 11  CompetitionOpenSinceMonth  41088 non-null  float64
 12  CompetitionOpenSinceYear   41088 non-null  float64
 13  Promo2                     41088 non-null  int64
 14  Promo2SinceWeek            41088 non-null  float64
 15  Promo2SinceYear            41088 non-null  float64
 16  PromoInterval              41088 non-null  int64
 17  Day                        41088 non-null  int64
 18  MonthTiming                41088 non-null  int64
 19  Month                      41088 non-null  int64
 20  Year                       41088 non-null  int64
 21  DayOfYear                  41088 non-null  int64
 22  WeekOfYear                 41088 non-null  int64
dtypes: float64(6), int64(17)
memory usage: 7.2 MB

In [252]:
# Using StandardScaler to standardize the all columns
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler, LabelEncoder
scale_train_list = train_df.columns.to_list()
scale_test_list = test_df.columns.to_list()
def standardize_columns(df, column) -> pd.DataFrame:
    try:        
        std_column_df = pd.DataFrame(df[column])
        std_column_values = std_column_df.values
        standardizer = StandardScaler()
        normalized_data = standardizer.fit_transform(std_column_values)
        df[column] = normalized_data
        logging.info('Successfull data scaling')
        return df
    except:
        logging.info('error in scaling data')

In [253]:
standardize_columns(train_df, scale_train_list)

,DayOfWeek,WeekDay,Sales,Open,Promo,StateHoliday,DaysAfterHoliday,DaysToHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
1,-0.302146,0.460291,-0.462975,0.0,-0.897521,0.013432,-0.378563,1.129717,2.041035,-1.764455,...,-0.997995,-0.757886,-0.997994,-0.822098,-1.593480,-1.256186,-1.457720,-1.070469,-1.582135,-1.573744
2,0.278194,0.460291,-0.858828,0.0,-0.897521,0.013432,-0.034103,1.096748,2.041035,-1.764455,...,-0.997995,-0.757886,-0.997994,-0.822098,-1.478307,-1.256186,-1.457720,-1.070469,-1.572268,-1.573744
3,0.858534,0.460291,-0.806508,0.0,-0.897521,0.013432,0.310357,1.063778,2.041035,-1.764455,...,-0.997995,-0.757886,-0.997994,-0.822098,-1.363133,-1.256186,-1.457720,-1.070469,-1.562401,-1.573744
4,1.438875,-2.172537,-0.638362,0.0,-0.897521,0.013432,0.654817,1.030808,2.041035,-1.764455,...,-0.997995,-0.757886,-0.997994,-0.822098,-1.247960,-1.256186,-1.457720,-1.070469,-1.552534,-1.573744
6,-1.462827,0.460291,0.078648,0.0,1.114180,0.013432,-0.378563,0.964869,2.041035,-1.764455,...,-0.997995,-0.757886,-0.997994,-0.822098,-1.017612,-1.256186,-1.457720,-1.070469,-1.532799,-1.504234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,-1.462827,0.460291,1.242185,0.0,1.114180,0.013432,-0.378563,-0.980339,2.041035,1.153808,...,1.002009,0.679121,1.002253,2.236469,1.285860,1.201066,0.347764,1.502604,0.450508,0.511555
1017205,-0.882487,0.460291,0.380391,0.0,1.114180,0.013432,-0.378563,-0.980339,2.041035,1.153808,...,1.002009,0.679121,1.002253,2.236469,1.401033,1.201066,0.347764,1.502604,0.460375,0.511555
1017206,-0.302146,0.460291,0.238240,0.0,1.114180,0.013432,-0.378563,-0.980339,2.041035,1.153808,...,1.002009,0.679121,1.002253,2.236469,1.516207,1.201066,0.347764,1.502604,0.470242,0.511555
1017207,0.278194,0.460291,0.483056,0.0,1.114180,0.013432,0.999277,-0.980339,2.041035,1.153808,...,1.002009,0.679121,1.002253,2.236469,1.631381,1.201066,0.347764,1.502604,0.480109,0.511555
1017208,0.858534,0.460291,0.573546,0.0,1.114180,0.013432,1.343737,-0.980339,2.041035,1.153808,...,1.002009,0.679121,1.002253,2.236469,1.746554,1.201066,0.347764,1.502604,0.489977,0.511555

In [254]:
standardize_columns(test_df, scale_test_list)

,DayOfWeek,WeekDay,Open,Promo,StateHoliday,DaysAfterHoliday,DaysToHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Day,MonthTiming,Month,Year,DayOfYear,WeekOfYear
0,1.002668,-1.558387,0.412874,-0.809427,-0.066333,-0.147034,1.428642,1.120204,-1.928618,-0.992329,...,-1.176606,-0.876652,-1.176605,-0.942163,-1.482045,-1.039723,-0.740532,0.0,-1.696335,-1.808937
1,1.498833,-1.558387,-2.422047,-0.809427,-0.066333,-0.147034,1.422161,1.120204,-1.928618,-0.992329,...,-1.176606,-0.876652,-1.176605,-0.942163,-1.363679,-1.039723,-0.740532,0.0,-1.624150,-1.808937
2,-1.478160,0.641689,0.412874,1.235442,-0.066333,-0.147034,1.415681,1.120204,-1.928618,-0.992329,...,-1.176606,-0.876652,-1.176605,-0.942163,-1.245313,-1.039723,-0.740532,0.0,-1.551966,-1.312771
3,-0.981994,0.641689,0.412874,1.235442,-0.066333,-0.147034,1.409200,1.120204,-1.928618,-0.992329,...,-1.176606,-0.876652,-1.176605,-0.942163,-1.126946,-1.039723,-0.740532,0.0,-1.479781,-1.312771
4,-0.485829,0.641689,0.412874,1.235442,-0.066333,-0.147034,1.402719,1.120204,-1.928618,-0.992329,...,-1.176606,-0.876652,-1.176605,-0.942163,-1.008580,-1.039723,-0.740532,0.0,-1.407597,-1.312771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1.498833,-1.558387,-2.422047,-0.809427,-0.066333,-0.147034,-1.144173,-0.892695,1.114510,0.929467,...,0.849902,0.483242,0.850082,2.089759,-0.061649,0.239936,1.350381,0.0,1.407597,1.168056
41084,-1.478160,0.641689,0.412874,1.235442,-0.066333,-0.147034,-1.144173,-0.892695,1.114510,0.929467,...,0.849902,0.483242,0.850082,2.089759,0.056717,0.239936,1.350381,0.0,1.479781,1.664222
41085,-0.981994,0.641689,0.412874,1.235442,-0.066333,-0.147034,-1.144173,-0.892695,1.114510,0.929467,...,0.849902,0.483242,0.850082,2.089759,0.175084,0.239936,1.350381,0.0,1.551966,1.664222
41086,-0.485829,0.641689,0.412874,1.235442,-0.066333,-0.147034,-1.144173,-0.892695,1.114510,0.929467,...,0.849902,0.483242,0.850082,2.089759,0.293450,0.239936,1.350381,0.0,1.624150,1.664222
41087,0.010337,0.641689,0.412874,1.235442,-0.066333,-0.147034,-1.144173,-0.892695,1.114510,0.929467,...,0.849902,0.483242,0.850082,2.089759,0.411816,0.239936,1.350381,0.0,1.696335,1.664222